$font-family-sans-serif: Arial, Helvetica, sans-serif;
$font-family-serif: Times, 'Times New Roman', serif;

$color-primary:#08b2e3;
$color-secondary: #ee6352;
$color-off-white: #efe9f4;
$color-green: #57a773;
$color-purple: #484d6d;
$color-white: #ffffff;
$color-black: #000000